In [1]:
# Dependencies
import json
import os
import pandas as pd

In [2]:
#open json
object_path = 'sample_data.json'
with open(object_path) as jsonfile:
       data_json = json.load(jsonfile)
df_from_json = pd.DataFrame(data_json)

In [3]:
df_from_json

,NCTId,ArmGroupInterventionName,ArmGroupType,BaselineMeasureDispersionType,BaselineMeasureParamType,CollaboratorClass,ConditionAncestorId,ConditionBrowseBranchAbbrev,ConditionBrowseLeafId,ConditionMeshId,...,InterventionType,IsFDARegulatedDevice,IsFDARegulatedDrug,LeadSponsorClass,OverallStatus,PatientRegistry,Phase,SamplingMethod,StdAge,StudyType
0,NCT04371159,Device: Velieve U.S.,Experimental,0,0,0,"[D000007239, D000014570]","[BC01, All, BXS]","[M8866, M4951, M15885, M15902]",D000014552,...,Device,Yes,No,INDUSTRY,Completed,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
1,NCT04474496,Other: Assessing impact of COVID19,0,0,0,OTHER,0,"[BC18, BC19, All]","[M5698, M5702]",0,...,Other,No,No,OTHER,Enrolling by invitation,No,0,Non-Probability Sample,"[Adult, Older Adult]",Observational
2,NCT02801266,Behavioral: Evidence informed birth control co...,"[Experimental, No Intervention]",0,0,OTHER,0,0,0,0,...,Behavioral,0,0,OTHER,Completed,0,Not Applicable,0,Adult,Interventional
3,NCT01599390,Other: Data collection,0,0,0,INDUSTRY,"[D000009976, D000012327, D000014777, D00001214...","[BC02, BC08, All, BC01]","[M8878, M8866, M4951, M11485, M16105, M13732, ...",D000007251,...,Other,0,0,INDUSTRY,Completed,0,0,Non-Probability Sample,"[Child, Adult, Older Adult]",Observational
4,NCT00312702,[Biological: Falciparum Malaria Protein 11 wit...,"[Experimental, Experimental]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...","[INDUSTRY, OTHER, FED]","[D000011528, D000010272]","[BC03, All, BC01, Rare]","[M17716, M9863, M8866, M4951, M12971, M11768, ...","[D000008288, D000016778]",...,Biological,0,0,FED,Completed,0,"[Phase 1, Phase 2]",0,Adult,Interventional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NCT03768310,"[Biological: CD19.CAR-multiVST for Group A, Bi...","[Experimental, Experimental]",0,0,"[OTHER, OTHER]","[D000009370, D000009369, D000008232, D00000820...","[BC04, All, BC15, BC20, Rare]","[M9528, M9803, M26172, M9534, M10898, M9808, M...",D000054198,...,"[Biological, Biological]",No,Yes,OTHER,Not yet recruiting,0,Phase 1,0,"[Child, Adult, Older Adult]",Interventional
9996,NCT03768206,"[Behavioral: Standard Physical Therapy, Behavi...","[Experimental, Active Comparator]",0,0,OTHER,0,0,0,0,...,"[Behavioral, Behavioral, Behavioral]",No,No,OTHER,Completed,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
9997,NCT03767738,Drug: Intravitreal Aflibercept Injection (IAI),Experimental,0,0,0,D000002318,"[BC14, All]",M15983,D000014652,...,Drug,No,Yes,INDUSTRY,Completed,0,Phase 4,0,"[Adult, Older Adult]",Interventional
9998,NCT03767595,Device: ProACT Adjustable Continence Therapy f...,Experimental,0,0,0,"[D000014555, D000014570, D000059411, D000020924]","[BXS, BC23, All, BXM]","[M15882, M6519, M15883, M15888, M15902, M28051...","[D000014549, D000014550]",...,Device,Yes,No,INDUSTRY,Recruiting,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
9999,NCT03766373,"[Combination Product: Drug: OP0201 20mg, Combi...","[Active Comparator, Placebo Comparator]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...",0,"[D000004427, D000010038]","[BC09, All, BC23]","[M11537, M11539, M11649, M6190, M6184, M11544]","[D000010031, D000010033]",...,"[Combination Product, Combination Product]",No,Yes,INDUSTRY,Completed,0,Phase 1,0,"[Adult, Older Adult]",Interventional

In [4]:
def explodeTable(df_name, column_name):
    tb = df_name[['NCTId', column_name]].copy()
    explode_tb = tb.explode(column_name)
    explode_tb = explode_tb.replace(0, "-")
    explode_tb = explode_tb.sort_values(by=[column_name], ascending=False)
    fr = len(explode_tb) - explode_tb[column_name].str.contains('-', na=False).sum()
    print('feature_row', fr)
    feature_tb = explode_tb.head(fr)
    #.rename(columns={column_name:'features'})

    return feature_tb

In [5]:
tb1= explodeTable(df_from_json, 'ArmGroupInterventionName')
tb1['feature'] = tb1['ArmGroupInterventionName'].str.split(' ').str[0]
tb1 = tb1.drop(['ArmGroupInterventionName'], axis=1)
tb1 = tb1.rename(columns={'feature':'ArmGroupInterventionName'})
tb1.to_csv('SampleFeatureTables/ArmGroupInterventionName.csv')
tb1

feature_row 17433

            NCTId ArmGroupInterventionName
6142  NCT00852644               Radiation:
6142  NCT00852644               Radiation:
6143  NCT00851253               Radiation:
6142  NCT00852644               Radiation:
6142  NCT00852644               Radiation:
...           ...                      ...
8687  NCT00870207              Behavioral:
5178  NCT03450135              Behavioral:
6678  NCT01104805              Behavioral:
5689  NCT01343654              Behavioral:
8879  NCT01764698              Behavioral:

[17433 rows x 2 columns]

In [6]:
tb2= explodeTable(df_from_json, 'ArmGroupType')
tb2.to_csv('SampleFeatureTables/ArmGroupType.csv')
tb2

feature_row 15147

            NCTId       ArmGroupType
8046  NCT01898299    Sham Comparator
5902  NCT02632422    Sham Comparator
1873  NCT01591408    Sham Comparator
3981  NCT04219566    Sham Comparator
2512  NCT04574167    Sham Comparator
...           ...                ...
4866  NCT04048707  Active Comparator
5970  NCT02477124  Active Comparator
5972  NCT03029884  Active Comparator
4867  NCT03975400  Active Comparator
6266  NCT01083576  Active Comparator

[15147 rows x 2 columns]

In [7]:
tb3= explodeTable(df_from_json, 'BaselineMeasureDispersionType')
tb3.to_csv('SampleFeatureTables/BaselineMeasureDispersionType.csv')
tb3

feature_row 2484

            NCTId BaselineMeasureDispersionType
9999  NCT03766373            Standard Deviation
3079  NCT00909480            Standard Deviation
7563  NCT01775670            Standard Deviation
2996  NCT00814697            Standard Deviation
7558  NCT03207750            Standard Deviation
...           ...                           ...
2531  NCT01222585                    Full Range
2531  NCT01222585                    Full Range
2531  NCT01222585                    Full Range
1316  NCT02207608                    Full Range
5733  NCT02602223                    Full Range

[2484 rows x 2 columns]

In [8]:
tb4= explodeTable(df_from_json, 'BaselineMeasureParamType')
tb4.to_csv('SampleFeatureTables/BaselineMeasureParamType.csv')
tb4

feature_row 8104

            NCTId BaselineMeasureParamType
7109  NCT00349622                   Number
3628  NCT00733096                   Number
1673  NCT01381016                   Number
1680  NCT00973674                   Number
4834  NCT01881828                   Number
...           ...                      ...
2051  NCT00142792    Count of Participants
1650  NCT01329679    Count of Participants
2111  NCT02364570    Count of Participants
1655  NCT01205776    Count of Participants
2051  NCT00142792    Count of Participants

[8104 rows x 2 columns]

In [9]:
tb5= explodeTable(df_from_json, 'CollaboratorClass')
tb5.to_csv('SampleFeatureTables/CollaboratorClass.csv')
tb5

feature_row 8665

            NCTId CollaboratorClass
8471  NCT01258244           UNKNOWN
7498  NCT01033513           UNKNOWN
1572  NCT01618591           UNKNOWN
7391  NCT04094298           UNKNOWN
7584  NCT04046965           UNKNOWN
...           ...               ...
6002  NCT03789396               FED
6003  NCT03769259               FED
6023  NCT03276195               FED
1376  NCT00299741               FED
1949  NCT00610480             AMBIG

[8665 rows x 2 columns]

In [10]:
#some problem please look again
#tb6= explodeTable(df_from_json, 'ConditionAncestorId')
#tb6.to_csv('SampleFeatureTables/ConditionAncestorId.csv')
#tb6

In [11]:
tb7= explodeTable(df_from_json, 'ConditionBrowseBranchAbbrev')
tb7.to_csv('SampleFeatureTables/ConditionBrowseBranchAbbrev.csv')
tb7

feature_row 30386

            NCTId ConditionBrowseBranchAbbrev
3758  NCT03421626                        Rare
9217  NCT04383938                        Rare
7694  NCT02910934                        Rare
5090  NCT00313144                        Rare
9219  NCT04382391                        Rare
...           ...                         ...
4719  NCT03274713                         All
4736  NCT04431661                         All
5082  NCT04300699                         All
4739  NCT00013715                         All
7698  NCT00399529                         All

[30386 rows x 2 columns]

In [12]:
tb8= explodeTable(df_from_json, 'ConditionBrowseLeafId')
tb8.to_csv('SampleFeatureTables/ConditionBrowseLeafId.csv')
tb8

feature_row 62916

            NCTId ConditionBrowseLeafId
9759  NCT03933904                  T995
8458  NCT02399215                  T950
8409  NCT01253161                  T950
8149  NCT00017199                  T950
9811  NCT03891784                  T950
...           ...                   ...
3561  NCT03251989                M10093
4056  NCT01682746                M10093
3909  NCT00384397                M10023
2145  NCT01681992                M10023
2218  NCT01702428                M10023

[62916 rows x 2 columns]

In [13]:
tb9= explodeTable(df_from_json, 'ConditionMeshId')
tb9.to_csv('SampleFeatureTables/ConditionMeshId.csv')
tb9

feature_row 15796

            NCTId ConditionMeshId
3143  NCT00634764      D000078064
8088  NCT03893708      D000078064
6932  NCT03767699      D000078064
5373  NCT04294095      D000078064
8151  NCT01545934      D000078064
...           ...             ...
8047  NCT02113514      D000000013
7064  NCT00742755      D000000013
5190  NCT04108052      D000000013
1844  NCT03775954      D000000013
1517  NCT01538745      D000000006

[15796 rows x 2 columns]

In [14]:
tb10= explodeTable(df_from_json, 'DesignAllocation')
tb10.to_csv('SampleFeatureTables/DesignAllocation.csv')
tb10

feature_row 6485

            NCTId DesignAllocation
5000  NCT02270164       Randomized
5916  NCT01239680       Randomized
5872  NCT00221507       Randomized
5871  NCT03250338       Randomized
5870  NCT01105091       Randomized
...           ...              ...
8910  NCT02391727              N/A
3175  NCT02303275              N/A
3152  NCT03249584              N/A
1422  NCT01092910              N/A
1424  NCT00869713              N/A

[6485 rows x 2 columns]

In [15]:
tb11= explodeTable(df_from_json, 'DesignMasking')
tb11.to_csv('SampleFeatureTables/DesignMasking.csv')
tb11

feature_row 7283

            NCTId DesignMasking
5000  NCT02270164        Triple
1608  NCT03588364        Triple
4498  NCT02119195        Triple
7590  NCT03839719        Triple
4505  NCT00202878        Triple
...           ...           ...
3205  NCT00047515        Double
3208  NCT03992378        Double
9066  NCT04535986        Double
3690  NCT04468776        Double
3700  NCT00729937        Double

[7283 rows x 2 columns]

In [16]:
tb12= explodeTable(df_from_json, 'DesignPrimaryPurpose')
tb12.to_csv('SampleFeatureTables/DesignPrimaryPurpose.csv')
tb12

feature_row 7199

            NCTId DesignPrimaryPurpose
3064  NCT02412865            Treatment
5089  NCT03869138            Treatment
7780  NCT01522768            Treatment
2994  NCT03061188            Treatment
2993  NCT03229356            Treatment
...           ...                  ...
4645  NCT02940795        Basic Science
9976  NCT03779269        Basic Science
5432  NCT03551184        Basic Science
5517  NCT02057289        Basic Science
9548  NCT04092387        Basic Science

[7199 rows x 2 columns]

In [17]:
tb13= explodeTable(df_from_json, 'DesignTimePerspective')
tb13.to_csv('SampleFeatureTables/DesignTimePerspective.csv')
tb13

feature_row 1462

            NCTId DesignTimePerspective
3181  NCT02266251         Retrospective
5126  NCT01367977         Retrospective
5845  NCT01480219         Retrospective
5108  NCT02744846         Retrospective
5111  NCT02833259         Retrospective
...           ...                   ...
3971  NCT02688660                 Other
1050  NCT03021824                 Other
3177  NCT00250133                 Other
3527  NCT01386424                 Other
9050  NCT04549077                 Other

[1462 rows x 2 columns]

In [18]:
tb14= explodeTable(df_from_json, 'EnrollmentCount')
tb14.to_csv('SampleFeatureTables/EnrollmentCount.csv')
tb14

feature_row 9021

            NCTId EnrollmentCount
5502  NCT03538639            9999
1854  NCT02608853            9999
1828  NCT00852904            9942
5846  NCT00291161             994
1097  NCT03566264           99209
...           ...             ...
8590  NCT00245453               0
2910  NCT02120560               0
6990  NCT00062972               0
4598  NCT02647983               0
5306  NCT03678207               0

[9021 rows x 2 columns]

In [19]:
tb15= explodeTable(df_from_json, 'HealthyVolunteers')
tb15.to_csv('SampleFeatureTables/HealthyVolunteers.csv')
tb15

feature_row 8994

            NCTId           HealthyVolunteers
9999  NCT03766373                          No
4473  NCT03284372                          No
4483  NCT03054103                          No
7798  NCT00256750                          No
4481  NCT02670850                          No
...           ...                         ...
4713  NCT04542005  Accepts Healthy Volunteers
4886  NCT02121782  Accepts Healthy Volunteers
4887  NCT01053299  Accepts Healthy Volunteers
4888  NCT01633177  Accepts Healthy Volunteers
4892  NCT01625910  Accepts Healthy Volunteers

[8994 rows x 2 columns]

In [20]:
tb16= explodeTable(df_from_json, 'InterventionAncestorId')
tb16.to_csv('SampleFeatureTables/InterventionAncestorId.csv')
tb16

feature_row 21879

            NCTId InterventionAncestorId
7739  NCT00470158             D000078622
8176  NCT01814501             D000078622
4947  NCT03908255             D000078622
1260  NCT00002317             D000078622
4956  NCT01762995             D000078622
...           ...                    ...
1064  NCT00130676             D000000019
3814  NCT03407625             D000000019
8506  NCT01490697             D000000019
7993  NCT00121186             D000000019
7065  NCT00691067             D000000019

[21879 rows x 2 columns]

In [21]:
tb17= explodeTable(df_from_json, 'InterventionBrowseBranchAbbrev')
tb17.to_csv('SampleFeatureTables/InterventionBrowseBranchAbbrev.csv')
tb17

feature_row 14599

            NCTId InterventionBrowseBranchAbbrev
7190  NCT04166370                             Vi
145   NCT01358552                             Vi
8110  NCT01858311                             Vi
9263  NCT04342728                             Vi
8690  NCT00410904                             Vi
...           ...                            ...
7623  NCT01903889                             AA
5876  NCT02139397                             AA
4795  NCT02613767                             AA
1294  NCT00220740                             AA
6658  NCT01574300                             AA

[14599 rows x 2 columns]

In [22]:
tb18= explodeTable(df_from_json, 'InterventionBrowseLeafId')
tb18.to_csv('SampleFeatureTables/InterventionBrowseLeafId.csv')
tb18

feature_row 26733

            NCTId InterventionBrowseLeafId
4934  NCT00141908                      T94
5308  NCT02145949                       T9
8469  NCT00760383                       T9
5641  NCT03579225                      T88
6300  NCT01119326                      T88
...           ...                      ...
8135  NCT01223404                   M10030
8278  NCT01240616                   M10030
9105  NCT04498520                   M10029
5673  NCT04296942                   M10019
1695  NCT00833963                   M10019

[26733 rows x 2 columns]

In [25]:
tb19= explodeTable(df_from_json, 'InterventionMeshId')
tb19.to_csv('SampleFeatureTables/InterventionMeshId.csv')
tb19

feature_row 5598

            NCTId InterventionMeshId
5328  NCT01038323         D000078862
1075  NCT00618956         D000078862
2509  NCT01329406         D000078862
4175  NCT02655354         D000078785
5954  NCT00506389         D000078785
...           ...                ...
7226  NCT00140361         C000001205
6588  NCT04134273         C000000489
3700  NCT00729937         C000000489
7410  NCT02595034         C000000489
1848  NCT00814905         C000000489

[5598 rows x 2 columns]

In [26]:
tb20= explodeTable(df_from_json, 'InterventionType')
tb20.to_csv('SampleFeatureTables/InterventionType.csv')
tb20

feature_row 15695

            NCTId InterventionType
8452  NCT02295540        Radiation
6576  NCT00689221        Radiation
6141  NCT00853528        Radiation
8655  NCT00882583        Radiation
5402  NCT01973608        Radiation
...           ...              ...
4379  NCT02814994       Behavioral
7787  NCT03325062       Behavioral
7661  NCT04230967       Behavioral
3283  NCT01751620       Behavioral
8233  NCT03130699       Behavioral

[15695 rows x 2 columns]

In [27]:
tb20= explodeTable(df_from_json, 'InterventionType')
tb20.to_csv('SampleFeatureTables/InterventionType.csv')
tb20

feature_row 15695

            NCTId InterventionType
8452  NCT02295540        Radiation
6576  NCT00689221        Radiation
6141  NCT00853528        Radiation
8655  NCT00882583        Radiation
5402  NCT01973608        Radiation
...           ...              ...
4379  NCT02814994       Behavioral
7787  NCT03325062       Behavioral
7661  NCT04230967       Behavioral
3283  NCT01751620       Behavioral
8233  NCT03130699       Behavioral

[15695 rows x 2 columns]

In [28]:
tb21= explodeTable(df_from_json, 'IsFDARegulatedDevice')
tb21.to_csv('SampleFeatureTables/IsFDARegulatedDevice.csv')
tb21

feature_row 3968

            NCTId IsFDARegulatedDevice
0     NCT04371159                  Yes
8262  NCT03840096                  Yes
8498  NCT02224352                  Yes
8472  NCT03533829                  Yes
8459  NCT04309370                  Yes
...           ...                  ...
2615  NCT03689530                   No
2528  NCT02768103                   No
57    NCT04163341                   No
2613  NCT03432897                   No
45    NCT04263311                   No

[3968 rows x 2 columns]

In [29]:
tb22= explodeTable(df_from_json, 'IsFDARegulatedDrug')
tb22.to_csv('SampleFeatureTables/IsFDARegulatedDrug.csv')
tb22

feature_row 3980

            NCTId IsFDARegulatedDrug
9999  NCT03766373                Yes
7276  NCT03416348                Yes
7429  NCT03207152                Yes
7431  NCT02706873                Yes
7440  NCT02215200                Yes
...           ...                ...
1375  NCT03255161                 No
3323  NCT01812824                 No
1052  NCT03598114                 No
2237  NCT03306147                 No
2525  NCT04029220                 No

[3980 rows x 2 columns]

In [30]:
tb23= explodeTable(df_from_json, 'LeadSponsorClass')
tb23.to_csv('SampleFeatureTables/LeadSponsorClass.csv')
tb23

feature_row 9157

            NCTId LeadSponsorClass
3992  NCT00884013        OTHER_GOV
4818  NCT03068117        OTHER_GOV
5114  NCT02798432        OTHER_GOV
4963  NCT02071745        OTHER_GOV
5698  NCT03089684        OTHER_GOV
...           ...              ...
5901  NCT02807623              FED
5936  NCT04261842              FED
5922  NCT03662308              FED
5928  NCT01672541              FED
6008  NCT03673371              FED

[9157 rows x 2 columns]

In [31]:
tb24= explodeTable(df_from_json, 'OverallStatus')
tb24.to_csv('SampleFeatureTables/OverallStatus.csv')
tb24

feature_row 10000

            NCTId           OverallStatus
783   NCT01532440                Withheld
672   NCT02268227                Withheld
659   NCT02340832                Withheld
660   NCT02327598                Withheld
661   NCT02325609                Withheld
...           ...                     ...
5463  NCT04561050  Active, not recruiting
6867  NCT03852628  Active, not recruiting
9332  NCT04291066  Active, not recruiting
9333  NCT04288752  Active, not recruiting
8151  NCT01545934  Active, not recruiting

[10000 rows x 2 columns]

In [32]:
tb25= explodeTable(df_from_json, 'PatientRegistry')
tb25.to_csv('SampleFeatureTables/PatientRegistry.csv')
tb25

feature_row 1037

            NCTId PatientRegistry
2950  NCT03680495             Yes
1579  NCT02296164             Yes
5584  NCT02070328             Yes
4224  NCT02880644             Yes
3436  NCT02775461             Yes
...           ...             ...
4728  NCT04119206              No
5042  NCT03285191              No
9366  NCT04257474              No
5682  NCT04535180              No
7530  NCT02949063              No

[1037 rows x 2 columns]

In [33]:
tb26= explodeTable(df_from_json, 'Phase')
tb26.to_csv('SampleFeatureTables/Phase.csv')
tb26

feature_row 7786

            NCTId          Phase
2844  NCT02296840        Phase 4
6710  NCT01632709        Phase 4
9164  NCT04443608        Phase 4
7730  NCT03541941        Phase 4
2819  NCT03418649        Phase 4
...           ...            ...
7400  NCT03395028  Early Phase 1
8991  NCT04597957  Early Phase 1
6061  NCT02240329  Early Phase 1
5245  NCT02534376  Early Phase 1
8457  NCT02621944  Early Phase 1

[7786 rows x 2 columns]

In [37]:
#run into prolem need to check later
#tb27= explodeTable(df_from_json, 'SamplingMethod')
#tb27.to_csv('SampleFeatureTables/SamplingMethod.csv')
#tb27

KeyError: "['SamplingMethod'] not in index"

In [35]:
tb28= explodeTable(df_from_json, 'StdAge')
tb28.to_csv('SampleFeatureTables/StdAge.csv')
tb28

feature_row 17153

            NCTId       StdAge
9999  NCT03766373  Older Adult
3997  NCT01850082  Older Adult
3992  NCT00884013  Older Adult
3993  NCT03683394  Older Adult
7957  NCT03527186  Older Adult
...           ...          ...
4695  NCT03239782        Adult
4693  NCT02258256        Adult
4694  NCT00816426        Adult
4691  NCT00836147        Adult
4690  NCT02545010        Adult

[17153 rows x 2 columns]

In [36]:
tb29= explodeTable(df_from_json, 'StudyType')
tb29.to_csv('SampleFeatureTables/StudyType.csv')
tb29

feature_row 9157

            NCTId        StudyType
5536  NCT02243033    Observational
6681  NCT03043326    Observational
8395  NCT03921242    Observational
4137  NCT03378219    Observational
4136  NCT03400514    Observational
...           ...              ...
8592  NCT04278235  Expanded Access
3067  NCT04136808  Expanded Access
3039  NCT04355793  Expanded Access
8575  NCT02461706  Expanded Access
9068  NCT04534322  Expanded Access

[9157 rows x 2 columns]