In [1]:
# Dependencies
import json
import os
import pandas as pd

In [2]:
#open json
object_path = 'renamed_all_data.json'
with open(object_path) as jsonfile:
       data_json = json.load(jsonfile)
df_from_json = pd.DataFrame(data_json)

In [3]:
df_from_json

,NCTId,ArmGroupInterventionName,ArmGroupType,BaselineMeasureDispersionType,BaselineMeasureParamType,CollaboratorClass,ConditionBrowseBranchAbbrev,ConditionBrowseLeafId,ConditionMeshId,DesignAllocation,...,IsFDARegulatedDevice,IsFDARegulatedDrug,LeadSponsorClass,OverallStatus,PatientRegistry,Phase,StdAge,StudyType,ConditionAncestorId,SamplingMethod
0,NCT04371159,Device: Velieve U.S.,Experimental,0,0,0,"[BC01, All, BXS]","[M8866, M4951, M15885, M15902]",D000014552,N/A,...,Yes,No,INDUSTRY,Completed,0,Not Applicable,"[Adult, Older Adult]",Interventional,"[D000007239, D000014570]",0
1,NCT04474496,Other: Assessing impact of COVID19,0,0,0,OTHER,"[BC18, BC19, All]","[M5698, M5702]",0,0,...,No,No,OTHER,Enrolling by invitation,No,0,"[Adult, Older Adult]",Observational,0,Non-Probability Sample
2,NCT02801266,Behavioral: Evidence informed birth control co...,"[Experimental, No Intervention]",0,0,OTHER,0,0,0,Randomized,...,0,0,OTHER,Completed,0,Not Applicable,Adult,Interventional,0,0
3,NCT01599390,Other: Data collection,0,0,0,INDUSTRY,"[BC02, BC08, All, BC01]","[M8878, M8866, M4951, M11485, M16105, M13732, ...",D000007251,0,...,0,0,INDUSTRY,Completed,0,0,"[Child, Adult, Older Adult]",Observational,"[D000009976, D000012327, D000014777, D00001214...",Non-Probability Sample
4,NCT00312702,[Biological: Falciparum Malaria Protein 11 wit...,"[Experimental, Experimental]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...","[INDUSTRY, OTHER, FED]","[BC03, All, BC01, Rare]","[M17716, M9863, M8866, M4951, M12971, M11768, ...","[D000008288, D000016778]",Randomized,...,0,0,FED,Completed,0,"[Phase 1, Phase 2]",Adult,Interventional,"[D000011528, D000010272]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138972,NCT00002678,"[Drug: melphalan, Drug: prednisone, Drug: dexa...","[Active Comparator, Active Comparator]",0,0,0,"[BC04, BC14, BC15, BC20, All, Rare]","[M10641, M26175, M12427, M10898, M20561, M3641...","[D000009101, D000054219, D000010954]",Randomized,...,No,Yes,NETWORK,Completed,0,Phase 3,"[Adult, Older Adult]",Interventional,"[D000009370, D000009369, D000020141, D00001465...",0
138973,NCT04183179,"Behavioral: Happy Family, Healthy Kids Program",Experimental,0,0,0,"[BC18, BC23, All, BXM]","[M11284, M14688, M28742, M23894, M11267, M2477...",D000063766,N/A,...,No,No,OTHER,Not yet recruiting,0,"[Phase 1, Phase 2]",Child,Interventional,"[D000009765, D000044343, D000009748, D00005017...",0
138974,NCT03278743,[Other: Cognitive performance and cognitive de...,0,0,0,0,0,0,0,0,...,No,No,OTHER,Completed,No,0,Older Adult,Observational,0,Non-Probability Sample
138975,NCT02740686,"[Other: Sample collection, Other: Sample colle...",0,0,0,OTHER_GOV,"[BC23, All, BC08]","[M8876, M9751, M9753, M22033, M13560]","[D000008173, D000029424]",0,...,0,0,OTHER,Completed,No,0,"[Adult, Older Adult]",Observational,"[D000008171, D000012140]",Probability Sample
138976,NCT04403789,"[Other: Exercise Time, Behavioral: Supervised ...","[Experimental, Active Comparator]",0,0,OTHER,"[BC18, BC19, All, BC14]","[M5698, M8607, M12700, M18878, M10222, M23990,...","[D000006973, D000011236]",Randomized,...,No,No,OTHER,Not yet recruiting,0,Not Applicable,Adult,Interventional,"[D000003920, D000044882, D000008659, D00000470...",0

In [4]:
def explodeTable(df_name, column_name):
    tb = df_name[['NCTId', column_name]].copy()
    tb = tb.explode(column_name)
    #create cross table
    Cross_Tb = pd.crosstab(index=tb['NCTId'], columns = tb[column_name])
    #Creating 0 and 1 matrix table
    Cross_Tb[Cross_Tb>1]=1
    Cross_Tb.reset_index()
    
    return Cross_Tb

In [5]:
Cross_Tb2= explodeTable(df_from_json, 'ArmGroupType')
#Cross_Tb2.to_csv('CSVTables/Cross_Tb2.csv')
Cross_Tb2

ArmGroupType,0,Active Comparator,Experimental,No Intervention,Other,Placebo Comparator,Sham Comparator
NCTId,,,,,,,
NCT00000102,1,0,0,0,0,0,0
NCT00000104,1,0,0,0,0,0,0
NCT00000105,1,0,0,0,0,0,0
NCT00000106,1,0,0,0,0,0,0
NCT00000107,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
NCT04609995,0,1,0,1,0,0,0
NCT04610164,0,0,1,1,0,0,0
NCT04610515,1,0,0,0,0,0,0
NCT04610658,0,0,1,0,0,0,0
NCT04610671,0,0,1,0,0,0,0

In [6]:
Cross_Tb3= explodeTable(df_from_json, 'BaselineMeasureDispersionType')
#Cross_Tb3.to_csv('CSVTables/Cross_Tb3.csv')
Cross_Tb3

BaselineMeasureDispersionType,0,Full Range,Inter-Quartile Range,Standard Deviation
NCTId,,,,
NCT00000102,1,0,0,0
NCT00000104,1,0,0,0
NCT00000105,1,0,0,0
NCT00000106,1,0,0,0
NCT00000107,1,0,0,0
...,...,...,...,...
NCT04609995,1,0,0,0
NCT04610164,1,0,0,0
NCT04610515,1,0,0,0
NCT04610658,1,0,0,0
NCT04610671,1,0,0,0

In [7]:
Cross_Tb4= explodeTable(df_from_json, 'BaselineMeasureParamType')
Cross_Tb4.to_csv('CSVTables/Cross_Tb4.csv')
Cross_Tb4

BaselineMeasureParamType,0,Count of Participants,Count of Units,Geometric Least Squares Mean,Geometric Mean,Least Squares Mean,Log Mean,Mean,Median,Number
NCTId,,,,,,,,,,
NCT00000102,1,0,0,0,0,0,0,0,0,0
NCT00000104,1,0,0,0,0,0,0,0,0,0
NCT00000105,1,0,0,0,0,0,0,0,0,0
NCT00000106,1,0,0,0,0,0,0,0,0,0
NCT00000107,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
NCT04609995,1,0,0,0,0,0,0,0,0,0
NCT04610164,1,0,0,0,0,0,0,0,0,0
NCT04610515,1,0,0,0,0,0,0,0,0,0
NCT04610658,1,0,0,0,0,0,0,0,0,0
NCT04610671,1,0,0,0,0,0,0,0,0,0

In [8]:
Cross_Tb5= explodeTable(df_from_json, 'CollaboratorClass')
Cross_Tb5.to_csv('CSVTables/Cross_Tb5.csv')
Cross_Tb5

CollaboratorClass,0,AMBIG,FED,INDIV,INDUSTRY,NETWORK,NIH,OTHER,OTHER_GOV,UNKNOWN
NCTId,,,,,,,,,,
NCT00000102,1,0,0,0,0,0,0,0,0,0
NCT00000104,0,0,1,0,0,0,0,0,0,0
NCT00000105,1,0,0,0,0,0,0,0,0,0
NCT00000106,1,0,0,0,0,0,0,0,0,0
NCT00000107,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
NCT04609995,1,0,0,0,0,0,0,0,0,0
NCT04610164,1,0,0,0,0,0,0,0,0,0
NCT04610515,0,0,0,0,0,0,0,1,0,0
NCT04610658,0,0,0,0,1,0,0,0,0,0
NCT04610671,0,0,0,0,0,0,0,0,0,1

In [9]:
Cross_Tb7= explodeTable(df_from_json, 'ConditionBrowseBranchAbbrev')
Cross_Tb7.to_csv('CSVTables/Cross_Tb7.csv')
Cross_Tb7

ConditionBrowseBranchAbbrev,0,All,BC01,BC02,BC03,BC04,BC05,BC06,BC07,BC08,...,BC19,BC20,BC21,BC23,BC24,BC25,BC26,BXM,BXS,Rare
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000102,0,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
NCT00000104,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
NCT00000105,0,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
NCT00000106,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NCT00000107,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04609995,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
NCT04610164,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NCT04610515,0,1,1,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
NCT04610658,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
NCT04610671,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
Cross_Tb10= explodeTable(df_from_json, 'DesignAllocation')
Cross_Tb10.to_csv('CSVTables/Cross_Tb10.csv')
Cross_Tb10

DesignAllocation  0  N/A  Non-Randomized  Randomized
NCTId
NCT00000102       1    0               0           0
NCT00000104       1    0               0           0
NCT00000105       1    0               0           0
NCT00000106       0    0               0           1
NCT00000107       1    0               0           0
...              ..  ...             ...         ...
NCT04609995       0    0               0           1
NCT04610164       0    0               0           1
NCT04610515       1    0               0           0
NCT04610658       0    0               1           0
NCT04610671       0    1               0           0

[138977 rows x 4 columns]

In [11]:
Cross_Tb11= explodeTable(df_from_json, 'DesignMasking')
Cross_Tb11.to_csv('CSVTables/Cross_Tb11.csv')
Cross_Tb11

DesignMasking  0  Double  None (Open Label)  Quadruple  Single  Triple
NCTId
NCT00000102    0       1                  0          0       0       0
NCT00000104    1       0                  0          0       0       0
NCT00000105    1       0                  0          0       0       0
NCT00000106    1       0                  0          0       0       0
NCT00000107    1       0                  0          0       0       0
...           ..     ...                ...        ...     ...     ...
NCT04609995    0       0                  1          0       0       0
NCT04610164    0       1                  0          0       0       0
NCT04610515    1       0                  0          0       0       0
NCT04610658    0       0                  1          0       0       0
NCT04610671    0       0                  1          0       0       0

[138977 rows x 6 columns]

In [12]:
Cross_Tb12= explodeTable(df_from_json, 'DesignPrimaryPurpose')
Cross_Tb12.to_csv('CSVTables/Cross_Tb12.csv')
Cross_Tb12

DesignPrimaryPurpose,0,Basic Science,Device Feasibility,Diagnostic,Educational/Counseling/Training,Health Services Research,Other,Prevention,Screening,Supportive Care,Treatment
NCTId,,,,,,,,,,,
NCT00000102,0,0,0,0,0,0,0,0,0,0,1
NCT00000104,1,0,0,0,0,0,0,0,0,0,0
NCT00000105,1,0,0,0,0,0,0,0,0,0,0
NCT00000106,0,0,0,0,0,0,0,0,0,0,1
NCT00000107,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
NCT04609995,0,0,0,0,0,0,0,1,0,0,0
NCT04610164,0,0,0,0,0,0,0,0,0,0,1
NCT04610515,1,0,0,0,0,0,0,0,0,0,0
NCT04610658,0,0,0,0,0,0,0,0,0,0,1
NCT04610671,0,0,0,0,0,0,0,0,0,0,1

In [13]:
Cross_Tb13= explodeTable(df_from_json, 'DesignTimePerspective')
Cross_Tb13.to_csv('CSVTables/Cross_Tb13.csv')
Cross_Tb13

DesignTimePerspective  0  Cross-Sectional  Other  Prospective  Retrospective
NCTId
NCT00000102            1                0      0            0              0
NCT00000104            0                0      1            0              0
NCT00000105            0                0      0            1              0
NCT00000106            1                0      0            0              0
NCT00000107            1                0      0            0              0
...                   ..              ...    ...          ...            ...
NCT04609995            1                0      0            0              0
NCT04610164            1                0      0            0              0
NCT04610515            0                0      0            1              0
NCT04610658            1                0      0            0              0
NCT04610671            1                0      0            0              0

[138977 rows x 5 columns]

In [14]:
Cross_Tb15= explodeTable(df_from_json, 'HealthyVolunteers')
Cross_Tb15.to_csv('CSVTables/Cross_Tb15.csv')
Cross_Tb15

HealthyVolunteers  0  Accepts Healthy Volunteers  No
NCTId
NCT00000102        0                           0   1
NCT00000104        0                           1   0
NCT00000105        0                           1   0
NCT00000106        0                           0   1
NCT00000107        0                           1   0
...               ..                         ...  ..
NCT04609995        0                           1   0
NCT04610164        0                           1   0
NCT04610515        1                           0   0
NCT04610658        0                           0   1
NCT04610671        0                           0   1

[138977 rows x 3 columns]

In [15]:
Cross_Tb17= explodeTable(df_from_json, 'InterventionBrowseBranchAbbrev')
Cross_Tb17.to_csv('CSVTables/Cross_Tb17.csv')
Cross_Tb17

InterventionBrowseBranchAbbrev,0,AA,AAll,ANeo,ARhu,AdjAn,AlcDet,All,AnAg,AnArAg,...,PhSol,PlAggInh,PsychDr,Rena,Repr,Resp,Urol,VaCoAg,VaDiAg,Vi
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000102,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,1,1,0
NCT00000104,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000105,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000106,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000107,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04609995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04610164,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04610515,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04610658,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04610671,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
Cross_Tb20= explodeTable(df_from_json, 'InterventionType')
Cross_Tb20.to_csv('CSVTables/Cross_Tb20.csv')
Cross_Tb20

InterventionType,0,Behavioral,Biological,Combination Product,Device,Diagnostic Test,Dietary Supplement,Drug,Genetic,Other,Procedure,Radiation
NCTId,,,,,,,,,,,,
NCT00000102,0,0,0,0,0,0,0,1,0,0,0,0
NCT00000104,0,0,0,0,0,0,0,0,0,0,1,0
NCT00000105,0,0,1,0,0,0,0,1,0,0,0,0
NCT00000106,0,0,0,0,1,0,0,0,0,0,0,0
NCT00000107,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04609995,0,1,0,0,0,0,0,0,0,0,0,0
NCT04610164,0,0,0,0,0,0,0,1,0,0,0,0
NCT04610515,1,0,0,0,0,0,0,0,0,0,0,0
NCT04610658,0,0,0,0,0,0,0,1,0,0,0,0
NCT04610671,0,0,0,0,0,0,0,1,0,0,0,0

In [17]:
Cross_Tb21= explodeTable(df_from_json, 'IsFDARegulatedDevice')
Cross_Tb21.to_csv('CSVTables/Cross_Tb21.csv')
Cross_Tb21

IsFDARegulatedDevice  0  No  Yes
NCTId
NCT00000102           1   0    0
NCT00000104           1   0    0
NCT00000105           1   0    0
NCT00000106           1   0    0
NCT00000107           1   0    0
...                  ..  ..  ...
NCT04609995           0   1    0
NCT04610164           0   1    0
NCT04610515           0   1    0
NCT04610658           0   1    0
NCT04610671           0   1    0

[138977 rows x 3 columns]

In [18]:
Cross_Tb22= explodeTable(df_from_json, 'IsFDARegulatedDrug')
Cross_Tb22.to_csv('CSVTables/Cross_Tb22.csv')
Cross_Tb22

IsFDARegulatedDrug  0  No  Yes
NCTId
NCT00000102         1   0    0
NCT00000104         1   0    0
NCT00000105         1   0    0
NCT00000106         1   0    0
NCT00000107         1   0    0
...                ..  ..  ...
NCT04609995         0   1    0
NCT04610164         0   0    1
NCT04610515         0   1    0
NCT04610658         0   0    1
NCT04610671         0   0    1

[138977 rows x 3 columns]

In [19]:
Cross_Tb23= explodeTable(df_from_json, 'LeadSponsorClass')
Cross_Tb23.to_csv('CSVTables/Cross_Tb23.csv')
Cross_Tb23

LeadSponsorClass,0,FED,INDIV,INDUSTRY,NETWORK,NIH,OTHER,OTHER_GOV,UNKNOWN
NCTId,,,,,,,,,
NCT00000102,0,0,0,0,0,1,0,0,0
NCT00000104,0,0,0,0,0,1,0,0,0
NCT00000105,0,0,0,0,0,0,1,0,0
NCT00000106,0,0,0,0,0,1,0,0,0
NCT00000107,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
NCT04609995,0,0,0,0,0,0,1,0,0
NCT04610164,0,0,0,0,0,0,1,0,0
NCT04610515,0,0,0,0,0,0,1,0,0
NCT04610658,0,0,0,0,0,0,1,0,0
NCT04610671,0,0,0,0,0,0,1,0,0

In [20]:
Cross_Tb25= explodeTable(df_from_json, 'PatientRegistry')
Cross_Tb25.to_csv('CSVTables/Cross_Tb25.csv')
Cross_Tb25

PatientRegistry  0  No  Yes
NCTId
NCT00000102      1   0    0
NCT00000104      1   0    0
NCT00000105      1   0    0
NCT00000106      1   0    0
NCT00000107      1   0    0
...             ..  ..  ...
NCT04609995      1   0    0
NCT04610164      1   0    0
NCT04610515      0   0    1
NCT04610658      1   0    0
NCT04610671      1   0    0

[138977 rows x 3 columns]

In [21]:
Cross_Tb27= explodeTable(df_from_json, 'SamplingMethod')
Cross_Tb27.to_csv('CSVTables/Cross_Tb27.csv')
Cross_Tb27

SamplingMethod  0  Non-Probability Sample  Probability Sample
NCTId
NCT00000102     1                       0                   0
NCT00000104     1                       0                   0
NCT00000105     0                       0                   1
NCT00000106     1                       0                   0
NCT00000107     1                       0                   0
...            ..                     ...                 ...
NCT04609995     1                       0                   0
NCT04610164     1                       0                   0
NCT04610515     0                       1                   0
NCT04610658     1                       0                   0
NCT04610671     1                       0                   0

[138977 rows x 3 columns]

In [22]:
Cross_Tb28= explodeTable(df_from_json, 'StdAge')
Cross_Tb28.to_csv('CSVTables/Cross_Tb28.csv')
Cross_Tb28

StdAge       0  Adult  Child  Older Adult
NCTId
NCT00000102  0      1      1            0
NCT00000104  0      1      1            1
NCT00000105  0      1      0            1
NCT00000106  0      1      0            1
NCT00000107  0      1      1            0
...         ..    ...    ...          ...
NCT04609995  0      1      0            0
NCT04610164  0      1      0            1
NCT04610515  0      1      0            1
NCT04610658  0      1      0            1
NCT04610671  0      1      0            1

[138977 rows x 4 columns]

In [23]:
Cross_Tb29= explodeTable(df_from_json, 'StudyType')
Cross_Tb29.to_csv('CSVTables/Cross_Tb29.csv')
Cross_Tb29

StudyType    0  Expanded Access  Interventional  Observational
NCTId
NCT00000102  0                0               1              0
NCT00000104  0                0               0              1
NCT00000105  0                0               0              1
NCT00000106  0                0               1              0
NCT00000107  0                0               0              1
...         ..              ...             ...            ...
NCT04609995  0                0               1              0
NCT04610164  0                0               1              0
NCT04610515  0                0               0              1
NCT04610658  0                0               1              0
NCT04610671  0                0               1              0

[138977 rows x 4 columns]