In [1]:
# Dependencies
import json
import os
import pandas as pd

In [2]:
#open json
object_path = 'sample_data.json'
with open(object_path) as jsonfile:
       data_json = json.load(jsonfile)
df_from_json = pd.DataFrame(data_json)

In [3]:
df_from_json

,NCTId,ArmGroupInterventionName,ArmGroupType,BaselineMeasureDispersionType,BaselineMeasureParamType,CollaboratorClass,ConditionAncestorId,ConditionBrowseBranchAbbrev,ConditionBrowseLeafId,ConditionMeshId,...,InterventionType,IsFDARegulatedDevice,IsFDARegulatedDrug,LeadSponsorClass,OverallStatus,PatientRegistry,Phase,SamplingMethod,StdAge,StudyType
0,NCT04371159,Device: Velieve U.S.,Experimental,0,0,0,"[D000007239, D000014570]","[BC01, All, BXS]","[M8866, M4951, M15885, M15902]",D000014552,...,Device,Yes,No,INDUSTRY,Completed,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
1,NCT04474496,Other: Assessing impact of COVID19,0,0,0,OTHER,0,"[BC18, BC19, All]","[M5698, M5702]",0,...,Other,No,No,OTHER,Enrolling by invitation,No,0,Non-Probability Sample,"[Adult, Older Adult]",Observational
2,NCT02801266,Behavioral: Evidence informed birth control co...,"[Experimental, No Intervention]",0,0,OTHER,0,0,0,0,...,Behavioral,0,0,OTHER,Completed,0,Not Applicable,0,Adult,Interventional
3,NCT01599390,Other: Data collection,0,0,0,INDUSTRY,"[D000009976, D000012327, D000014777, D00001214...","[BC02, BC08, All, BC01]","[M8878, M8866, M4951, M11485, M16105, M13732, ...",D000007251,...,Other,0,0,INDUSTRY,Completed,0,0,Non-Probability Sample,"[Child, Adult, Older Adult]",Observational
4,NCT00312702,[Biological: Falciparum Malaria Protein 11 wit...,"[Experimental, Experimental]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...","[INDUSTRY, OTHER, FED]","[D000011528, D000010272]","[BC03, All, BC01, Rare]","[M17716, M9863, M8866, M4951, M12971, M11768, ...","[D000008288, D000016778]",...,Biological,0,0,FED,Completed,0,"[Phase 1, Phase 2]",0,Adult,Interventional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NCT03768310,"[Biological: CD19.CAR-multiVST for Group A, Bi...","[Experimental, Experimental]",0,0,"[OTHER, OTHER]","[D000009370, D000009369, D000008232, D00000820...","[BC04, All, BC15, BC20, Rare]","[M9528, M9803, M26172, M9534, M10898, M9808, M...",D000054198,...,"[Biological, Biological]",No,Yes,OTHER,Not yet recruiting,0,Phase 1,0,"[Child, Adult, Older Adult]",Interventional
9996,NCT03768206,"[Behavioral: Standard Physical Therapy, Behavi...","[Experimental, Active Comparator]",0,0,OTHER,0,0,0,0,...,"[Behavioral, Behavioral, Behavioral]",No,No,OTHER,Completed,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
9997,NCT03767738,Drug: Intravitreal Aflibercept Injection (IAI),Experimental,0,0,0,D000002318,"[BC14, All]",M15983,D000014652,...,Drug,No,Yes,INDUSTRY,Completed,0,Phase 4,0,"[Adult, Older Adult]",Interventional
9998,NCT03767595,Device: ProACT Adjustable Continence Therapy f...,Experimental,0,0,0,"[D000014555, D000014570, D000059411, D000020924]","[BXS, BC23, All, BXM]","[M15882, M6519, M15883, M15888, M15902, M28051...","[D000014549, D000014550]",...,Device,Yes,No,INDUSTRY,Recruiting,0,Not Applicable,0,"[Adult, Older Adult]",Interventional
9999,NCT03766373,"[Combination Product: Drug: OP0201 20mg, Combi...","[Active Comparator, Placebo Comparator]",Standard Deviation,"[Mean, Count of Participants, Count of Partici...",0,"[D000004427, D000010038]","[BC09, All, BC23]","[M11537, M11539, M11649, M6190, M6184, M11544]","[D000010031, D000010033]",...,"[Combination Product, Combination Product]",No,Yes,INDUSTRY,Completed,0,Phase 1,0,"[Adult, Older Adult]",Interventional

In [4]:
def explodeTable(df_name, column_name):
    tb = df_name[['NCTId', column_name]].copy()
    explode_tb = tb.explode(column_name)
    explode_tb = explode_tb.replace(0, "-")
    explode_tb = explode_tb.sort_values(by=[column_name], ascending=False)
    fr = len(explode_tb) - explode_tb[column_name].str.contains('-', na=False).sum()
    print('feature_row', fr)
    feature_tb = explode_tb.head(fr)
    #.rename(columns={column_name:'features'})

    return feature_tb

In [5]:
tb1= explodeTable(df_from_json, 'ArmGroupInterventionName')
tb1['feature'] = tb1['ArmGroupInterventionName'].str.split(' ').str[0]
tb1 = tb1.drop(['ArmGroupInterventionName'], axis=1)
tb1 = tb1.rename(columns={'feature':'ArmGroupInterventionName'})
#tb1.to_csv('SampleFeatureTables/ArmGroupInterventionName.csv')
tb1

feature_row 17433

            NCTId ArmGroupInterventionName
6142  NCT00852644               Radiation:
6142  NCT00852644               Radiation:
6143  NCT00851253               Radiation:
6142  NCT00852644               Radiation:
6142  NCT00852644               Radiation:
...           ...                      ...
8687  NCT00870207              Behavioral:
5178  NCT03450135              Behavioral:
6678  NCT01104805              Behavioral:
5689  NCT01343654              Behavioral:
8879  NCT01764698              Behavioral:

[17433 rows x 2 columns]

In [6]:
Cross_Tb1 = pd.crosstab(index=tb1['NCTId'], columns = tb1['ArmGroupInterventionName'])
Cross_Tb1

ArmGroupInterventionName,Behavioral:,Biological:,Combination,Device:,Diagnostic,Dietary,Drug:,Genetic:,Other:,Procedure:,Radiation:
NCTId,,,,,,,,,,,
NCT00000273,0,0,0,0,0,0,1,0,0,0,0
NCT00000408,0,0,0,0,0,0,0,0,0,1,0
NCT00000411,0,0,0,0,0,0,0,0,2,1,0
NCT00001703,0,2,0,0,0,0,0,0,0,0,0
NCT00001723,0,0,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
NCT04607642,0,0,0,0,0,0,3,0,1,0,2
NCT04607668,0,0,0,0,0,0,2,0,0,0,0
NCT04608149,0,0,0,1,0,0,0,0,0,0,0
NCT04608773,0,0,0,2,0,0,0,0,2,0,0
NCT04609514,0,0,0,1,0,0,2,0,0,0,0

In [7]:
tb2= explodeTable(df_from_json, 'ArmGroupType')
#tb2.to_csv('SampleFeatureTables/ArmGroupType.csv')
tb2

feature_row 15147

            NCTId       ArmGroupType
8046  NCT01898299    Sham Comparator
5902  NCT02632422    Sham Comparator
1873  NCT01591408    Sham Comparator
3981  NCT04219566    Sham Comparator
2512  NCT04574167    Sham Comparator
...           ...                ...
4866  NCT04048707  Active Comparator
5970  NCT02477124  Active Comparator
5972  NCT03029884  Active Comparator
4867  NCT03975400  Active Comparator
6266  NCT01083576  Active Comparator

[15147 rows x 2 columns]

In [8]:
Cross_Tb2 = pd.crosstab(index=tb2['NCTId'], columns = tb2['ArmGroupType'])
Cross_Tb2

ArmGroupType,Active Comparator,Experimental,No Intervention,Other,Placebo Comparator,Sham Comparator
NCTId,,,,,,
NCT00000273,0,1,0,0,0,0
NCT00000408,0,1,1,0,0,0
NCT00000411,2,0,0,0,0,0
NCT00001703,0,1,0,0,0,0
NCT00001723,0,1,0,0,1,0
...,...,...,...,...,...,...
NCT04607668,0,1,0,0,1,0
NCT04608188,0,1,1,0,0,0
NCT04608773,0,0,0,2,0,0
NCT04609514,1,1,0,0,0,0
NCT04609995,2,0,1,0,0,0

In [9]:
tb3= explodeTable(df_from_json, 'BaselineMeasureDispersionType')
Cross_Tb3 = pd.crosstab(index=tb3['NCTId'], columns = tb3['BaselineMeasureDispersionType'])
Cross_Tb3

feature_row 2484

BaselineMeasureDispersionType,Full Range,Inter-Quartile Range,Standard Deviation
NCTId,,,
NCT00001703,0,0,1
NCT00001723,0,0,1
NCT00005879,0,0,6
NCT00006604,2,0,0
NCT00008385,1,0,0
...,...,...,...
NCT04027218,0,0,1
NCT04047121,0,0,3
NCT04067401,0,0,1
NCT04218799,0,0,1
NCT04474405,0,0,1

In [10]:
tb4= explodeTable(df_from_json, 'BaselineMeasureParamType')
Cross_Tb4 = pd.crosstab(index=tb4['NCTId'], columns = tb4['BaselineMeasureParamType'])
Cross_Tb4

feature_row 8104

BaselineMeasureParamType,Count of Participants,Count of Units,Geometric Mean,Least Squares Mean,Mean,Median,Number
NCTId,,,,,,,
NCT00001703,2,0,0,0,1,0,1
NCT00001723,2,0,0,0,1,0,1
NCT00005879,5,0,0,0,6,0,1
NCT00006604,1,0,0,0,0,4,1
NCT00008385,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...
NCT04027218,3,0,0,0,1,0,0
NCT04047121,6,0,0,0,3,0,0
NCT04067401,6,0,0,0,1,0,0
NCT04218799,2,0,0,0,1,0,1
NCT04474405,3,0,0,0,1,0,0

In [11]:
tb5= explodeTable(df_from_json, 'CollaboratorClass')
Cross_Tb5 = pd.crosstab(index=tb5['NCTId'], columns = tb5['CollaboratorClass'])
Cross_Tb5

feature_row 8665

CollaboratorClass,AMBIG,FED,INDUSTRY,NETWORK,NIH,OTHER,OTHER_GOV,UNKNOWN
NCTId,,,,,,,,
NCT00000173,0,0,0,0,0,1,0,0
NCT00000273,0,0,0,0,1,0,0,0
NCT00000398,0,0,0,0,1,0,0,0
NCT00000408,0,0,0,0,1,0,0,0
NCT00000411,0,1,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...
NCT04606342,0,1,1,0,0,0,0,0
NCT04606966,0,0,0,0,1,3,0,3
NCT04607642,0,0,0,0,0,2,0,0
NCT04608773,0,0,0,0,0,0,0,1
NCT04609514,0,0,0,0,1,0,0,0

In [12]:
#some problem please look again
#tb6= explodeTable(df_from_json, 'ConditionAncestorId')
#tb6.to_csv('SampleFeatureTables/ConditionAncestorId.csv')
#tb6

In [13]:
tb7= explodeTable(df_from_json, 'ConditionBrowseBranchAbbrev')
Cross_Tb7 = pd.crosstab(index=tb7['NCTId'], columns = tb7['ConditionBrowseBranchAbbrev'])
Cross_Tb7

feature_row 30386

ConditionBrowseBranchAbbrev,All,BC01,BC02,BC03,BC04,BC05,BC06,BC07,BC08,BC09,...,BC19,BC20,BC21,BC23,BC24,BC25,BC26,BXM,BXS,Rare
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000157,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
NCT00000173,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
NCT00000174,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04608188,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NCT04608773,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NCT04609514,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
NCT04609995,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [14]:
tb8= explodeTable(df_from_json, 'ConditionBrowseLeafId')
Cross_Tb8 = pd.crosstab(index=tb8['NCTId'], columns = tb8['ConditionBrowseLeafId'])
Cross_Tb8

feature_row 62916

ConditionBrowseLeafId,M10023,M10093,M10111,M10114,M10117,M10135,M10141,M10143,M10145,M10147,...,T879,T884,T889,T893,T894,T906,T931,T949,T950,T995
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04608188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
tb9= explodeTable(df_from_json, 'ConditionMeshId')
Cross_Tb9 = pd.crosstab(index=tb9['NCTId'], columns = tb9['ConditionMeshId'])
Cross_Tb9

feature_row 15796

ConditionMeshId,D000000006,D000000013,D000000022,D000000038,D000000039,D000000130,D000000138,D000000152,D000000163,D000000172,...,D000076385,D000077062,D000077192,D000077195,D000077216,D000077260,D000077274,D000077277,D000077342,D000078064
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04608149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04608188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
tb10= explodeTable(df_from_json, 'DesignAllocation')
Cross_Tb10 = pd.crosstab(index=tb10['NCTId'], columns = tb10['DesignAllocation'])
Cross_Tb10

feature_row 6485

DesignAllocation  N/A  Non-Randomized  Randomized
NCTId
NCT00000152         0               0           1
NCT00000157         0               0           1
NCT00000172         0               0           1
NCT00000173         0               0           1
NCT00000174         0               0           1
...               ...             ...         ...
NCT04607668         0               0           1
NCT04608188         0               0           1
NCT04608773         0               0           1
NCT04609514         0               0           1
NCT04609995         0               0           1

[6485 rows x 3 columns]

In [17]:
tb11= explodeTable(df_from_json, 'DesignMasking')
Cross_Tb11 = pd.crosstab(index=tb11['NCTId'], columns = tb11['DesignMasking'])
Cross_Tb11

feature_row 7283

DesignMasking  Double  None (Open Label)  Quadruple  Single  Triple
NCTId
NCT00000172         1                  0          0       0       0
NCT00000173         1                  0          0       0       0
NCT00000174         1                  0          0       0       0
NCT00000273         0                  1          0       0       0
NCT00000362         0                  1          0       0       0
...               ...                ...        ...     ...     ...
NCT04607668         1                  0          0       0       0
NCT04608188         0                  0          0       1       0
NCT04608773         0                  0          1       0       0
NCT04609514         0                  1          0       0       0
NCT04609995         0                  1          0       0       0

[7283 rows x 5 columns]

In [18]:
tb12= explodeTable(df_from_json, 'DesignPrimaryPurpose')
Cross_Tb12 = pd.crosstab(index=tb12['NCTId'], columns = tb12['DesignPrimaryPurpose'])
Cross_Tb12

feature_row 7199

DesignPrimaryPurpose,Basic Science,Device Feasibility,Diagnostic,Educational/Counseling/Training,Health Services Research,Other,Prevention,Screening,Supportive Care,Treatment
NCTId,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,1,0,0,0
NCT00000157,0,0,0,0,0,0,1,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,1
NCT00000173,0,0,0,0,0,0,0,0,0,1
NCT00000174,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
NCT04607668,0,0,0,0,0,0,0,0,0,1
NCT04608188,0,0,0,0,0,0,0,0,0,1
NCT04608773,0,0,0,0,0,1,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,1
NCT04609995,0,0,0,0,0,0,1,0,0,0

In [19]:
tb13= explodeTable(df_from_json, 'DesignTimePerspective')
Cross_Tb13 = pd.crosstab(index=tb13['NCTId'], columns = tb13['DesignTimePerspective'])
Cross_Tb13

feature_row 1462

DesignTimePerspective  Other  Prospective  Retrospective
NCTId
NCT00000783                0            1              0
NCT00001162                0            1              0
NCT00001163                1            0              0
NCT00001204                0            1              0
NCT00001469                1            0              0
...                      ...          ...            ...
NCT04603521                0            0              1
NCT04604418                0            1              0
NCT04605965                0            1              0
NCT04608149                0            1              0
NCT04609085                0            1              0

[1462 rows x 3 columns]

In [20]:
tb14= explodeTable(df_from_json, 'EnrollmentCount')
Cross_Tb14 = pd.crosstab(index=tb14['NCTId'], columns = tb14['EnrollmentCount'])
Cross_Tb14

feature_row 9021

EnrollmentCount,0,1,10,100,1000,10000,100000,1002,10038,1005,...,98,981,987,99,990,992,99209,994,9942,9999
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000273,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04608188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
tb15= explodeTable(df_from_json, 'HealthyVolunteers')
Cross_Tb15 = pd.crosstab(index=tb15['NCTId'], columns = tb15['HealthyVolunteers'])
Cross_Tb15

feature_row 8994

HealthyVolunteers  Accepts Healthy Volunteers  No
NCTId
NCT00000152                                 1   0
NCT00000157                                 1   0
NCT00000172                                 0   1
NCT00000173                                 0   1
NCT00000174                                 0   1
...                                       ...  ..
NCT04608188                                 0   1
NCT04608773                                 0   1
NCT04609085                                 0   1
NCT04609514                                 0   1
NCT04609995                                 1   0

[8994 rows x 2 columns]

In [22]:
tb16= explodeTable(df_from_json, 'InterventionAncestorId')
Cross_Tb16 = pd.crosstab(index=tb16['NCTId'], columns = tb16['InterventionAncestorId'])
Cross_Tb16

feature_row 21879

InterventionAncestorId,D000000019,D000000020,D000000021,D000000276,D000000316,D000000317,D000000318,D000000319,D000000322,D000000373,...,D000068776,D000068796,D000072664,D000074268,D000074322,D000075242,D000077203,D000077221,D000077264,D000078622
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
NCT00000157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
NCT00000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04603794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04603911,0,0,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
NCT04606342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04607642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
tb17= explodeTable(df_from_json, 'InterventionBrowseBranchAbbrev')
Cross_Tb17 = pd.crosstab(index=tb17['NCTId'], columns = tb17['InterventionBrowseBranchAbbrev'])
Cross_Tb17

feature_row 14599

InterventionBrowseBranchAbbrev,AA,AAll,ANeo,ARhu,AdjAn,AlcDet,All,AnAg,AnArAg,AnCoag,...,PhSol,PlAggInh,PsychDr,Rena,Repr,Resp,Urol,VaCoAg,VaDiAg,Vi
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
NCT00000157,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
NCT00000174,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04607642,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04607668,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
tb18= explodeTable(df_from_json, 'InterventionBrowseLeafId')
Cross_Tb18 = pd.crosstab(index=tb18['NCTId'], columns = tb18['InterventionBrowseLeafId'])
Cross_Tb18

feature_row 26733

InterventionBrowseLeafId,M10019,M10029,M10030,M10032,M10091,M10116,M10124,M10125,M10174,M10183,...,T7,T71,T73,T75,T79,T8,T85,T88,T9,T94
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04607642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04607668,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
tb19= explodeTable(df_from_json, 'InterventionMeshId')
Cross_Tb19 = pd.crosstab(index=tb19['NCTId'], columns = tb19['InterventionMeshId'])
Cross_Tb19

feature_row 5598

InterventionMeshId,C000000489,C000001205,C000002854,C000003330,C000003959,C000004180,C000004616,C000004648,C000004704,C000005569,...,D000078304,D000078305,D000078306,D000078330,D000078604,D000078622,D000078764,D000078784,D000078785,D000078862
NCTId,,,,,,,,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT00000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04603794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04603911,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04606342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04607642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
tb20= explodeTable(df_from_json, 'InterventionType')
Cross_Tb20 = pd.crosstab(index=tb20['NCTId'], columns = tb20['InterventionType'])
Cross_Tb20

feature_row 15695

InterventionType,Behavioral,Biological,Combination Product,Device,Diagnostic Test,Dietary Supplement,Drug,Genetic,Other,Procedure,Radiation
NCTId,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,2,0,0,0,0
NCT00000157,0,0,0,0,0,0,1,0,0,0,0
NCT00000172,0,0,0,0,0,0,1,0,0,0,0
NCT00000173,0,0,0,0,0,0,2,0,0,0,0
NCT00000174,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
NCT04608149,0,0,0,1,0,0,0,0,0,0,0
NCT04608188,1,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,1,0,0,0,0,1,0,0
NCT04609514,2,0,0,1,0,0,1,0,0,0,0
NCT04609995,1,0,0,0,0,0,0,0,0,0,0

In [27]:
tb21= explodeTable(df_from_json, 'IsFDARegulatedDevice')
Cross_Tb21 = pd.crosstab(index=tb21['NCTId'], columns = tb21['IsFDARegulatedDevice'])
Cross_Tb21

feature_row 3968

IsFDARegulatedDevice  No  Yes
NCTId
NCT00000273            1    0
NCT00001163            1    0
NCT00004342            1    0
NCT00004992            1    0
NCT00021814            1    0
...                   ..  ...
NCT04608188            1    0
NCT04608773            0    1
NCT04609085            1    0
NCT04609514            0    1
NCT04609995            1    0

[3968 rows x 2 columns]

In [28]:
tb22= explodeTable(df_from_json, 'IsFDARegulatedDrug')
Cross_Tb22 = pd.crosstab(index=tb22['NCTId'], columns = tb22['IsFDARegulatedDrug'])
Cross_Tb22

feature_row 3980

IsFDARegulatedDrug  No  Yes
NCTId
NCT00000273          0    1
NCT00001163          1    0
NCT00004342          1    0
NCT00004992          0    1
NCT00021814          0    1
...                 ..  ...
NCT04608188          1    0
NCT04608773          1    0
NCT04609085          1    0
NCT04609514          1    0
NCT04609995          1    0

[3980 rows x 2 columns]

In [29]:
tb23= explodeTable(df_from_json, 'LeadSponsorClass')
Cross_Tb23 = pd.crosstab(index=tb23['NCTId'], columns = tb23['LeadSponsorClass'])
Cross_Tb23

feature_row 9157

LeadSponsorClass  FED  INDIV  INDUSTRY  NETWORK  NIH  OTHER  OTHER_GOV
NCTId
NCT00000152         0      0         0        0    1      0          0
NCT00000157         0      0         0        0    1      0          0
NCT00000172         0      0         1        0    0      0          0
NCT00000173         0      0         0        0    1      0          0
NCT00000174         0      0         1        0    0      0          0
...               ...    ...       ...      ...  ...    ...        ...
NCT04608188         0      0         0        0    0      1          0
NCT04608773         0      0         0        0    0      1          0
NCT04609085         0      0         0        0    1      0          0
NCT04609514         0      0         0        0    0      1          0
NCT04609995         0      0         0        0    0      1          0

[9157 rows x 7 columns]

In [30]:
tb24= explodeTable(df_from_json, 'OverallStatus')
Cross_Tb24 = pd.crosstab(index=tb24['NCTId'], columns = tb24['OverallStatus'])
Cross_Tb24

feature_row 10000

OverallStatus,"Active, not recruiting",Approved for marketing,Available,Completed,Enrolling by invitation,No longer available,Not yet recruiting,Recruiting,Suspended,Temporarily not available,Terminated,Unknown status,Withdrawn,Withheld
NCTId,,,,,,,,,,,,,,
NCT00000152,0,0,0,0,0,0,0,0,0,0,0,1,0,0
NCT00000157,0,0,0,0,0,0,0,0,0,0,1,0,0,0
NCT00000172,0,0,0,1,0,0,0,0,0,0,0,0,0,0
NCT00000173,0,0,0,1,0,0,0,0,0,0,0,0,0,0
NCT00000174,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCT04608188,0,0,0,0,0,0,0,1,0,0,0,0,0,0
NCT04608773,0,0,0,0,0,0,1,0,0,0,0,0,0,0
NCT04609085,0,0,0,0,1,0,0,0,0,0,0,0,0,0
NCT04609514,0,0,0,0,0,0,1,0,0,0,0,0,0,0
NCT04609995,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [31]:
tb25= explodeTable(df_from_json, 'PatientRegistry')
Cross_Tb25 = pd.crosstab(index=tb25['NCTId'], columns = tb25['PatientRegistry'])
Cross_Tb25

feature_row 1037

PatientRegistry  No  Yes
NCTId
NCT00132249       1    0
NCT00140634       1    0
NCT00218179       1    0
NCT00267631       1    0
NCT00271921       1    0
...              ..  ...
NCT04602416       1    0
NCT04602806       1    0
NCT04604418       0    1
NCT04605965       0    1
NCT04608149       0    1

[1037 rows x 2 columns]

In [32]:
tb26= explodeTable(df_from_json, 'Phase')
Cross_Tb26 = pd.crosstab(index=tb26['NCTId'], columns = tb26['Phase'])
Cross_Tb26

feature_row 7786

Phase        Early Phase 1  Not Applicable  Phase 1  Phase 2  Phase 3  Phase 4
NCTId
NCT00000152              0               0        0        0        1        0
NCT00000157              0               0        0        0        1        0
NCT00000172              0               0        0        0        1        0
NCT00000173              0               0        0        0        1        0
NCT00000174              0               0        0        0        1        0
...                    ...             ...      ...      ...      ...      ...
NCT04607668              0               0        0        0        1        0
NCT04608188              0               1        0        0        0        0
NCT04608773              0               1        0        0        0        0
NCT04609514              0               1        0        0        0        0
NCT04609995              0               1        0        0        0        0

[7353 rows x 6 columns]

In [33]:
#run into prolem need to check later
#tb27= explodeTable(df_from_json, 'SamplingMethod')
#tb27.to_csv('SampleFeatureTables/SamplingMethod.csv')
#tb27

In [36]:
tb28= explodeTable(df_from_json, 'StdAge')
Cross_Tb28 = pd.crosstab(index=tb28['NCTId'], columns = tb28['StdAge'])
Cross_Tb28

feature_row 17153

StdAge       Adult  Child  Older Adult
NCTId
NCT00000152      1      0            1
NCT00000157      1      0            1
NCT00000172      1      1            1
NCT00000173      1      0            1
NCT00000174      1      0            1
...            ...    ...          ...
NCT04608188      0      1            0
NCT04608773      1      0            1
NCT04609085      1      1            1
NCT04609514      1      0            1
NCT04609995      1      0            0

[9157 rows x 3 columns]

In [37]:
tb29= explodeTable(df_from_json, 'StudyType')
Cross_Tb29 = pd.crosstab(index=tb29['NCTId'], columns = tb29['StudyType'])
Cross_Tb29

feature_row 9157

StudyType    Expanded Access  Interventional  Observational
NCTId
NCT00000152                0               1              0
NCT00000157                0               1              0
NCT00000172                0               1              0
NCT00000173                0               1              0
NCT00000174                0               1              0
...                      ...             ...            ...
NCT04608188                0               1              0
NCT04608773                0               1              0
NCT04609085                0               0              1
NCT04609514                0               1              0
NCT04609995                0               1              0

[9157 rows x 3 columns]