In [ ]:
# Dependencies
import json
import os
import pandas as pd

In [ ]:
#open json
object_path = 'sample_data.json'
with open(object_path) as jsonfile:
       data_json = json.load(jsonfile)
df_from_json = pd.DataFrame(data_json)

In [ ]:
df_from_json

In [3]:
tb1 = df_from_json[['NCTId', 'ArmGroupInterventionName']].copy()
tb1 = tb1.explode('ArmGroupInterventionName')
tb1['feature'] = tb1['ArmGroupInterventionName'].str.split(':').str[0]
tb1 = tb1.drop(['ArmGroupInterventionName'], axis=1)
tb1 = tb1.rename(columns={'feature':'ArmGroupInterventionName'})
tb1 = tb1.sort_values(by=['ArmGroupInterventionName'], ascending=False)
tb1

            NCTId ArmGroupInterventionName
8086  NCT00936390                Radiation
4690  NCT02545010                Radiation
4642  NCT01084239                Radiation
9799  NCT03904043                Radiation
8452  NCT02295540                Radiation
...           ...                      ...
9935  NCT03804827                      NaN
9936  NCT03804593                      NaN
9963  NCT03787862                      NaN
9978  NCT03777384                      NaN
9990  NCT03770832                      NaN

[23077 rows x 2 columns]

In [4]:
Cross_Tb1 = pd.crosstab(index=tb1['NCTId'], columns = tb1['ArmGroupInterventionName'])
#Creating 0 and 1 matrix table
Cross_Tb1[Cross_Tb1>1]=1
Cross_Tb1.reset_index()
Cross_Tb1

ArmGroupInterventionName,Behavioral,Biological,Combination Product,Device,Diagnostic Test,Dietary Supplement,Drug,Genetic,Other,Procedure,Radiation
NCTId,,,,,,,,,,,
NCT00000273,0,0,0,0,0,0,1,0,0,0,0
NCT00000408,0,0,0,0,0,0,0,0,0,1,0
NCT00000411,0,0,0,0,0,0,0,0,1,1,0
NCT00001703,0,1,0,0,0,0,0,0,0,0,0
NCT00001723,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
NCT04608149,0,0,0,1,0,0,0,0,0,0,0
NCT04608188,1,0,0,0,0,0,0,0,0,0,0
NCT04608773,0,0,0,1,0,0,0,0,1,0,0
NCT04609514,1,0,0,1,0,0,1,0,0,0,0
NCT04609995,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
tb = df_from_json[['NCTId', 'ArmGroupInterventionName']].copy()
    explode_tb = tb.explode(column_name)
    explode_tb = explode_tb.replace(0, "-")
    explode_tb = explode_tb.sort_values(by=[column_name], ascending=False)
    fr = len(explode_tb) - explode_tb[column_name].str.contains('-', na=False).sum()
    print('feature_row', fr)
    feature_tb = explode_tb.head(fr)

In [ ]:
Cross_Tb1 = pd.crosstab(index=tb1['NCTId'], columns = tb1['ArmGroupInterventionName'])
#Creating 0 and 1 matrix table
Cross_Tb1[Cross_Tb1>1]=1
Cross_Tb1.reset_index()
Cross_Tb1